/*landing page*/

.display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.w3-animate-top {
    position: relative;
    animation: animatetop 0.9s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.padding-large {
    padding: 12px 24px!important
}

.xlarge {
    font-size: 24px!important
}

.spacer {
    height: 300px;
}

.landing-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-title {
    font-size: 64px;
    text-align: center;
    margin-bottom: 24px;
}

.landing-divider {
    width: 40%;
    margin-bottom: 40px;
}

.start-button {
    background-color: #fff;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    width: 200px;
    height: 60px
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    height: 800px;
    border-radius: 40px;
    background-color: #1a1d24;
    margin-top: 300px;
    margin-bottom: 100px;
}

.info-card-title {
    font-size: 50px;
}

.info-card-content {
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.info-card-question {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-thickness: 0.15em;
    font-family: Arial, Helvetica, sans-serif;
}

.info-card-answer {
    margin-bottom: 80px;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*survey page*/

.text-white,
.hover-text-white:hover {
    color: #fff!important
}

.submit-button {
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.submit-button:active {
    position: relative;
    top: 1px;
}

.surveyTitle {
    display: flex;
    justify-content: center;
    height: 100px;
}

.solutionTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
}

.solutionTitleText {
    font-size: 45px;
    margin-bottom: 20px;
}

.resourcePadding {
    margin-left: 20px;
}

.costsPadding {
    margin-left: 40px;
}

.cardzone {
    height: 280px;
}

.column-end {
    display: flex;
    flex-direction: column;
    height: 260px;
    margin-top: 10px;
    justify-content: space-between;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.container {
    padding: 2px 16px;
    background-color: #3b3b44;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.divflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px
}

.divflex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nextq {
    border-radius: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.booleanDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.decimalDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.decimalInput {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: x-large;
}

.questionSpacer {
    height: 30px;
}


/*recomendations page*/

.body {
    background-color: #0e0e10;
    height: 100%;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 120px;
}

a {
    font-size: 1.5em;
}

.centeredtext {
    text-align: center;
}

.aText {
    font-family: Arial, Helvetica, sans-serif;
    color: #f7f7f8;
    font-size: larger;
    font-weight: 500;
    margin-left: 20px;
}

.aDiv:hover {
    background-color: #0e0e10da;
    border-style: solid;
    border-color: #efefef;
    border-width: medium;
}

.aDiv:focus {
    transform: scale(1.04);
    background-color: #0e0e10da;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.986);
}

.aDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #0e0e10d0;
    box-shadow: #efefef;
    border-style: solid;
    border-width: medium;
    border-color: #0e0e10d0;
}

h2 {
    color: #f7f7f8;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul {
    list-style-position: outside;
}

.aSelected {
    border-style: solid;
    border-color: #f7f7f8;
    border-width: medium;
}

.rectangle {
    background-color: #1a1d24;
    height: 200px;
    width: 800px;
    border-radius: 20px;
}

.resourceTitle {
    border-bottom: 2px solid #f7f7f8;
    width: max-content;
    text-decoration: none;
}

.recomendationsPadding {
    margin-bottom: 30px;
}

.noSolutionText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.btn {
    background-color: #0e0e10da;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: #1c1c20da;
}